body {

  background-color: lightblue;
  text-align: center;
}


h1 {
  color: navy;
  margin-left: 20px;
  border:2px solid  DodgerBlue;
  text-align: center;
}
h2 {
  border-top-style: none;
  border-right-style: solid;
  border-bottom-style: none;
  border-left-style: solid;
  background-color: rgb(0, 255, 200) ;
  color :rgb(0, 0, 0) ;
  margin-left: 400px;
  margin-right: 400px;
  text-align: center;
}
pre{
  background-color: rgb(5, 14, 17);
  color :rgb(255, 248, 210)
  text-align: center;
}

